@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  --blue--: #6a74ff;
  --black--: #2c2c2e;
  --white--: #fefefe;
}

::selection {
  background-color: var(--blue--);
  color: var(--white--);
}

#root {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  /* background-color: var(--blue--); */
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
}

.chat-left {
  width: 40%;
  background-color: var(--white--);
}

.chat-left .chat-header {
  padding: 0px 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.chat-left .chat-header h1 {
  font-family: "Lobster", cursive;
  color: var(--blue--);
  font-size: 24px;
  font-weight: 100;
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: pointer;
}

.chat-header .chat-header-box {
  display: flex;
}

.chat-header-box i {
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat-left .chat-top {
  display: flex;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-top .chat-top-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.chat-top-box i {
  width: 100%;
  height: 65px;
  color: var(--black--);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: calc(100% - 50px);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid transparent;
  border-right: 5px solid var(--blue--);
  border-bottom: 5px solid var(--blue--);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  animation-name: load;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

@keyframes load {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.chat-main::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  opacity: 0.3;
}

.chat-main::-webkit-scrollbar-thumb {
  background: var(--blue--);
  border-radius: 10px;
  opacity: 0.5;
  width: 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.chat-main .chat-user {
  display: flex;
  margin: 10px 0px;
  cursor: pointer;
}

.chat-user-message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}

.chat-search-new {
  width: 100%;
  background-color: #cccccc;
}

.chat-user .chat-user-message h4,
.chat-user .chat-user-message p {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: sans-serif;
}

.chat-top-box .bar {
  background-color: var(--blue--);
  width: 100%;
}

.chat-right {
  background-color: var(--black--);
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  z-index: 1;
}

.chat-history .chat-history-top {
  background-color: var(--blue--);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-history-top > i {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.chat-option {
  display: block;
  z-index: 2;
  position: fixed;
  background-color: var(--white--);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.chat-option > .options {
  display: flex;

  align-items: center;
  cursor: pointer;
}

.chat-option > .options:hover {
  background-color: #d1d1d1;
}

.options p {
  font-family: sans-serif;
  height: 70px;
  font-weight: 500;
  width: 200px;
  display: flex;
  align-items: center;
  margin-block-end: 0;
  margin-block-start: 0;
  font-weight: 600;
}

.options i {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-history .chat-history-main {
  width: calc(100% - 20px);
  height: calc(100% - 160px);
  overflow-y: scroll;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-history .chat-history-main::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  padding: 0px 5px;
  opacity: 0.6;
}

.chat-history .chat-history-main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--blue--);
}

.chat-history-main > .chat1 {
  max-width: 300px;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat-main-option {
  margin-top: 20px;
  background-color: var(--white--);
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  align-self: flex-end;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.chat-main-option > .option {
  height: 50px;
  width: 150px;
  padding: 0px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.chat-main-option > .option:nth-of-type(1):hover {
  background-color: #d1d1d1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.chat-main-option > .option:nth-of-type(2):hover {
  background-color: #b40000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.chat-message {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
}
.chat-history .chat-history-bottom {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chat-history-bottom .chat-type {
  height: 50px;
  padding-left: 10px;
  width: calc(100% - 230px);
  background-color: transparent;
  border-radius: 5px;
  margin: 5px;
  resize: none;
  outline: none;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--white--);
  border: 1px solid var(--white--);
  user-select: text;
}

.chat-history-bottom .material-bottom {
  width: 30px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue--);
  cursor: pointer;
}

.chat-auth {
  width: 100%;
  width: 100%;
  background-color: var(--black--);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-auth > h3 {
  font-family: Lobster;
  font-weight: 100;
  font-size: xx-large;
  color: var(--blue--);
}

.chat-auth .chat-login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.chat-login-main h3 {
  color: var(--white--);
  font-family: sans-serif;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.chat-login-main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-login-main > form input {
  width: 250px;
  height: 35px;
  border: 0.5px solid var(--white--);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: transparent;
  margin: 10px 0px;
  padding-left: 10px;
  outline: none;
  color: var(--white--);
}

.chat-login-main > form button {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  background-color: var(--blue--);
  border: none;
  color: var(--white--);
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

button > .load {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--blue--);
  border-right: 2px solid var(--white--);
  border-bottom: 2px solid var(--white);
  align-self: flex-start;
  animation: load 0.9s infinite;
  -webkit-animation: load 0.9s infinite;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@keyframes load {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .chat-history-bottom .material-bottom {
    width: 20px;
  }

  .chat-history-bottom .chat-type {
    width: auto;
  }
}
