@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

* {
  --blue--: #6a74ff;
  --black--: #2c2c2e;
  --white--: #fefefe;
}

::selection {
  background-color: var(--blue--);
  color: var(--white--);
}

#root {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  /* background-color: var(--blue--); */
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
}

.chat-left {
  width: 40%;
  background-color: var(--white--);
}

.chat-left .chat-header {
  padding-left: 20px;
  padding-top: 20px;
}

.chat-left .chat-header h1 {
  font-family: "Lobster", cursive;
  color: var(--blue--);
  font-size: 24px;
  font-weight: 100;
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: pointer;
}

.chat-left .chat-top {
  display: flex;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-top .chat-top-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.chat-top-box i {
  width: 100%;
  height: 65px;
  color: var(--black--);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-main {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: calc(100% - 120px);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid transparent;
  border-right: 5px solid var(--blue--);
  border-bottom: 5px solid var(--blue--);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  animation-name: load;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

@keyframes load {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.chat-main::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  opacity: 0.3;
}

.chat-main::-webkit-scrollbar-thumb {
  background: var(--blue--);
  border-radius: 10px;
  opacity: 0.5;
  width: 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.chat-main .chat-user {
  display: flex;
  margin: 10px 0px;
  cursor: pointer;
}

.chat-user-message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}

.chat-user .chat-user-message h4,
.chat-user .chat-user-message p {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: sans-serif;
}

.chat-top-box .bar {
  background-color: var(--blue--);
  width: 100%;
}

.chat-right {
  background-color: var(--black--);
}

.chat-history .chat-history-top {
  background-color: var(--blue--);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-history .chat-history-main {
  width: 100%;
  height: calc(100% - 160px);
}

.chat-history .chat-history-bottom {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chat-history-bottom .chat-type {
  height: 50px;
  padding-left: 10px;
  width: calc(100% - 230px);
  background-color: transparent;
  border-radius: 20px;
  margin: 5px;
  outline: none;
  font-size: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: var(--white--);
  border: 2px solid var(--white--);
}

.chat-history-bottom .material-bottom {
  width: 50px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue--);
  cursor: pointer;
}
